.third {
  --color-primary: #6c71c4;
  --color-link: #fff;
  --color-text: #372e19;
  --color-text-light: #6b4a00;
  --color-heading: #211806;
  --color-heading-black: black;
  --color-accent: #cb4b16;
  --color-border: #332810;
  --light-border-color: #6b4a00;
  --background-color: #ebdbb2;
  --primary: #6c71c4;
  --navbar-color: #f0d69a;
  --sidebar-color-hover: #eed18e;
  --reverse: var(--background-color);
  --scrollbar: var(--navbar-color);
  --scrollbar-track: var(--sidebar-color-hover);
}

/* .third p {
  color: var(--color-text);
}

.third ol,
.third ul,
.third table,
.third blockquote {
  -webkit-font-smoothing: auto;
}

.third pre[class*='language-'] {
  border-color: var(--color-heading);
}

.third pre.language-terminal,
.third table {
  border-color: var(--color-border);
}

.third blockquote {
  border-color: var(--color-border);
  border-left-color: var(--color-primary);
}

.third .filename {
  border: 1px solid #171717;
}

.third a.anchor.before svg {
  fill: var(--color-primary);
} */